body {
    margin: 0px;
    font: 12px/1.5 'Microsoft YaHei', Î¢ÈíÑÅºÚ, tahoma, arial, sans-serif;
    background: rgb(238, 238, 238);
}

img {
	border: 0px;
}

ul, li, dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    line-height: normal;
	font: 12px/1.5 'Microsoft YaHei', Î¢ÈíÑÅºÚ, tahoma, arial, sans-serif;
}

i {
    font-style: normal;
    vertical-align: middle;
}

p {
    margin: 0px;
}

a {
    background-color: transparent;
    color: #666;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


.btn, a.btn {
    cursor: pointer;
    text-align: center;
    width: 100%;
    border: 1px solid #4fbcc1;
    background: #4fbcc1;
    background: -webkit-linear-gradient(left, #4fbcc1, #56cfac);
    background: linear-gradient(to right, #4fbcc1, #56cfac);
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

.header {
    background: #f7f7f7;
    height: 30px;
    border-bottom: 1px solid #e8e8e8;
    border-top-left-radius: 5px;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f7f7f7;
    height: 30px;
    z-index: 99;
    border-bottom: 1px solid #e8e8e8;
}

.topbar-body {
    width: 990px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
}

.topbar-body-left {
    float: left;
}

.topbar-body-right {
	float: right;
}

.topbar ul, .topbar li {
	height: 30px;
	line-height: 30px;
}

.topbar li {
    float: left;
    padding: 0 10px;
    position: relative;
    font-size: 12px;
    color: #898989;
}

.topbar a {
    color: #898989;
}

topbar-body-right li {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}


.topbar-body-left li:before, .topbar-body-right li:before {
    content: "|";
    position: absolute;
    right: -3px;
    top: 0px;
    color: #898989;
}

.topbar-body-left li:last-child:before, .topbar-body-right li:last-child:before {
    content: "";
}

.topbar-body-right .menu {
    position: relative;
    margin-top: 0px;
}

.topbar-body-right li i {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url(../images/newicons.png) no-repeat 0px 0px;
}

.topbar-body-right li img {
    vertical-align: middle;
}

.topbar-body-right .menu .menulist {
    visibility: hidden;
}

.topbar-body-right .menulist {
    position: absolute;
    background: #fff;
    left: -1px;
    border: 1px solid #e8e8e8;
}

.topbar-body-right .menulist li:before {
    content: "";
    left: 5px;
    top: 5px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/newicons.png) no-repeat 0px -10px;
}

.nav {
    height: 70px;
    width: 100%;
    background: #fff;
}

.nav-bar {
    width: 990px;
    margin: 0 auto;
}

.nav-bar a.nav-logo {
    background: url(../images/newlogo.png) no-repeat center;
    width: 180px;
    height: 70px;
    display: inline-block;
    float: left;
}

.nav-bar .nav-bar-wrapper {
    float: right;
}

.nav-bar-wrapper li {
    float: left;
    text-align: center;
    color: #4c4c4c;
    line-height: 70px;
    padding: 0 10px;
    margin: 0px 18px;
}

.nav-bar-wrapper li a {
    font-size: 16px;
}

.nav-bar .nav-bar-wrapper li {
    float: left;
    text-align: center;
    color: #4c4c4c;
    line-height: 70px;
    padding: 0 10px;
    margin: 0px 18px;
}

.nav-bar .nav-bar-wrapper li:last-child {
    padding-right: 0px;
    margin-right: 0px;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 280px;
	background-image: url(../images/banner3.jpg);
}

.gain-container {
    position: relative;
    width: 990px;
    margin: 0 auto;
}

.opacity-wrap {
    position: absolute;
    z-index: 10;
    top: -270px;
    right: 0px;
    width: 275px;
    height: 260px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
}

.unlogin-info {
    position: absolute;
    z-index: 10;
    top: -270px;
    right: 30px;
    width: 210px;
    text-align: center;
}

.unlogin-info h3 {
    font-size: 18px;
    color: #898989;
    padding-top: 10px;
}

.unlogin-info big {
    display: block;
    padding-top: 10px;
    font-size: 70px;
    line-height: 70px;
    color: #f43340;
}

.unlogin-info big i {
    font-size: 30px;
}

.unlogin-info .tip {
    font-size: 15px;
    color: #898989;
    padding-bottom: 15px;
}

.login-info {
    position: absolute;
    z-index: 10;
    top: -270px;
    right: 30px;
    width: 210px;
}

.direct-login {
    color: #898989;
    padding: 10px 0;
    text-align: right;
}

.unlogin-info .direct-login {
    padding-top: 10px;
    text-align: right;
    color: #898989;
}

.login-info {
    position: absolute;
    z-index: 10;
    top: -270px;
    right: 30px;
    width: 210px;
}

.login-info dl {
    margin: 50px 0 20px;
}

.direct-login a {
    color: #3eb595;
}

.wrapper {
    width: 100%;
    background: #eee;
    overflow: hidden;
}

.container {
    margin: 15px auto;
    width: 990px;
}

.main-left {
    width: 680px;
    float: left;
}

.product-list .product {
    background: #fff;
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    position: relative;
}

.product-list .product .recommand-label {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 106px;
    height: 106px;
    background: url(../images/jb.png) no-repeat;
}

.product-header {
	margin-bottom: 10px;
}

.product-pic {
    height: 52px;
    width: 52px;
    background: url(../images/hqicons.jpg) no-repeat;
    float: left;
}

.product-pic-dingqi {
	height: 52px;
    width: 52px;
    background: url(../images/dqicons.png) no-repeat;
    float: left;
}

.product-title {
    color: #898989;
    float: left;
}

.product-title h3 {
    font-size: 17px;
    margin-left: 15px;
}

.product-title .subtitle {
    font-size: 14px;
    padding-top: 5px;
}

.product-title .subtitle span {
    margin-left: 15px;
}

.product-title .subtitle i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/newicons.png) no-repeat -5px -105px;
}

.product-title .subtitle i.icon-z {
    background: url(../images/newicons.png) no-repeat -35px -105px;
}

.progress-box {
    position: relative;
}

.progress {
    height: 15px;
    margin-bottom: 20px;
    margin-right: 60px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar-striped {
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar {
    background-size: 40px 40px;
    background-color: #f43340;
    border-radius: 15px;
    height: 15px;
}

.progress-box span {
    color: #898989;
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: -3px;
}

.product-data {
    height: 55px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 5px 0;
}

.product-data-column {
    position: relative;
    float: left;
    width: 24.88%;
    text-align: center;
}

.product-data-column-title {
    color: #898989;
    font-size: 17px;
    line-height: 32px;
    height: 32px;
}

.product-data-column-title big {
    font-size: 32px;
    color: #f43340;
    font-weight: bold;
}

.product-data-column-title .green {
    color: #3eb595;
    font-weight: bold;
}

.product-data-column-subtitle {
    color: #898989;
    font-size: 13px;
    position: relative;
}

.product-data-column-subtitle i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/newicons.png) no-repeat -155px -63px;
	font-style: normal;
    vertical-align: middle;
}

.product-data-column-separator {
	margin-top: 8px;
    background: #e8e8e8;
    height: 34px;
    width: 1px;
	float: left;
}

.product-data .btn-buy {
    width: 134px;
    height: 34px;
    margin: 0 auto;
    line-height: 34px;
    margin-top: 10px;
}

.main-right {
    width: 290px;
    float: right;
}

.data-container {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    margin-bottom: 15px;
}

.data-title {
    position: relative;
    font-size: 17px;
    padding-bottom: 6px;
    color: #898989;
    border-bottom: 1px solid #e8e8e8;
}

.data-title:before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 90px;
    height: 1px;
    background: #3eb595;
}

.data-title i {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/newicons.png) no-repeat -65px -105px;
}

.data-title i.help {
    background: url(../images/newicons.png) no-repeat -110px -105px;
}

.data-title i.list {
    background: url(../images/newicons.png) no-repeat -85px -105px;
}

.data-title .more {
    padding-left: 5px;
    font-size: 12px;
    color: #3eb595;
	float: right;
}

.data-title .subtitle {
    font-size: 12px;
    float: right;
    line-height: 28px;
}

.data-list {
    height: 125px;
}

.data-container ul {
    padding: 8px 0;
}

.data-container ul li {
    border-bottom: 1px dashed #e8e8e8;
    line-height: 26px;
    height: 26px;
    color: #898989;
}

.data-container ul li .float-right {
    float: right;
    color: #3eb595;
}

.data-container .ranklist {
    height: 136px;
    margin-top: 10px;
    overflow: hidden;
}


.data-container ul li .middle {
    margin-left: 20px;
}

.partner-wrapper {
    overflow: hidden;
    width: 100%;
    background: #fff;
}

.container-box {
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}

.container-box .row5 li {
    float: left;
    margin: 5px 10px;
    width: 172px;
    height: 65px;
    text-align: center;
    border-radius: 5px;
}

.footer {
    padding-top: 30px;
    background: #2d2d2d;
    overflow: hidden;
}

.bottom-content {
    border-bottom: 1px solid #4c4c4c;
    height: 165px;
}

.bottom-content li {
    float: left;
}

.bottom-content li.ewm {
    background: #fff;
    padding: 5px;
    width: 112px;
    margin-right: 60px;
    text-align: center;
}

.bottom-content li.ewm img {
    width: 100%;
}

.bottom-content li.ewm p {
    color: #3eb595;
    background: #fff;
    line-height: 24px;
	margin: 0px;
}

.bottom-content li.menu {
    width: 218px;
    height: 145px;
    color: #c5c5c5;
    text-align: left;
    padding-left: 65px;
    border-left: 1px solid #4c4c4c;
}

.bottom-content li.menu .customer-service {
    color: #c5c5c5;
    font-size: 15px;
    margin-bottom: 5px;
}

.bottom-content li.menu .tel {
    color: #3eb595;
    font-size: 21px;
}

.bottom-content li.menu p {
    font-size: 13px;
    margin: 5px 0;
}

.bottom-content li.menu dl dd {
    float: left;
    margin: 10px 10px 10px 0;
    position: relative;
}

.bottom-content li.menu dl dd i.qq {
    display: block;
    height: 31px;
    width: 31px;
    background: url(../images/newicons.png) no-repeat 2px -123px #3c3c3c;
}

.bottom-content li.menu dl dd:hover i.qq {
    background: url(../images/newicons.png) no-repeat 2px -147px #3eb595;
}

.bottom-content li.menu dl dd .newpop {
    visibility: hidden;
    position: absolute;
    min-width: 50px;
    border: 1px solid #3eb595;
    background: #fff;
    color: #898989;
    padding: 5px;
    text-align: center;
    top: 38px;
    left: -40%;
}

.bottom-content li.menu dl dd i.wechart {
	display: block;
    height: 31px;
    width: 31px;
    background: url(../images/newicons.png) no-repeat -57px -123px #3c3c3c;
}

.bottom-content li.menu dl dd:hover i.wechart {
    background: url(../images/newicons.png) no-repeat -57px -147px #3eb595;
}

.bottom-content li.menu dl dd .newpop-wc {
    left: -120%;
}

.bottom-content li.menu dl dd .newpop-wc:before {
    left: 44%;
}

.bottom-content li.menu dl dd .newpop img {
    width: 95px;
}

.bottom-content li.menu p {
    font-size: 13px;
    margin: 5px 0;
}

.bottom-content li.links {
    padding: 0 10px;
    border-left: 1px solid #4c4c4c;
}

.bottom-content li.links dl {
    float: left;
    margin-left: 50px;
    width: 75px;
    text-align: left;
    color: #c5c5c5;
}

.bottom-content li.links dl dt {
    font-size: 15px;
    padding-bottom: 5px;
}

.bottom-content li.links dl dd {
    font-size: 12px;
    padding-bottom: 5px;
	margin: 0;
}

.bottom-content li.links dl dd a {
    color: #c5c5c5;
}

.footer .bottom-link {
    overflow: hidden;
    box-sizing: content-box;
    padding: 20px 0;
}

.bottom-link li {
    float: left;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    color: #c5c5c5;
}

.bottom-link li a {
    text-align: center;
    display: block;
    color: #c5c5c5;
}

.footer .btm-copyright {
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #c5c5c5;
}

.btm-copyright a {
    color: #c5c5c5;
	margin-right: 15px;
}

.btm-copyright img {
    vertical-align: middle;
    height: 32px;
	border-radius: 4px;
}

.bottom-content li.menu dl dd .newpop:before {
    position: absolute;
    content: "";
    top: -17px;
    left: 35%;
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/newicons.png) no-repeat -90px -123px;
}

/*************************************************
*  bidDetail 
*************************************************/
.nav-pill ul {
    overflow: hidden;
}

.nav-pill ul li {
    height: 16px;
    line-height: 16px;
    float: left;
}

.bid-detail {
    width: 100%;
    margin-top: 15px;
}

.bid-detail .bid-detail-left {
    width: 668px;
    float: left;
	background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    position: relative;
}

.bid-detail .bid-detail-left .bid-header {
    margin-bottom: 15px;
}

.bid-detail-left .bid-pic {
    height: 52px;
    width: 52px;
    background: url(../images/hqicons.jpg) no-repeat;
    float: left;
}

.bid-detail-left .bid-title {
    color: #898989;
    float: left;
}

.bid-detail-left .bid-title h3 {
    font-size: 17px;
    margin-left: 15px;
}

.bid-detail-left .subtitle {
    font-size: 14px;
    padding-top: 5px;
}

.bid-detail-left .subtitle span {
    margin-left: 15px;
}

.bid-detail-left .subtitle i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/newicons.png) no-repeat -5px -105px;
}

.bid-detail-left .subtitle i.icon-z {
    background: url(../images/newicons.png) no-repeat -35px -105px;
}

.bid-detail .bid-data {
    height: 55px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 5px 0;
}

.bid-detail .bid-data dl {
    width: 33.3%;
	position: relative;
    float: left;
    text-align: center;
}

.bid-detail .bid-data dl:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 8px;
    background: #e8e8e8;
    height: 34px;
    width: 1px;
}

.bid-detail .bid-data dl dt {
    color: #898989;
    font-size: 17px;
    line-height: 32px;
    height: 32px;
}

.bid-detail .bid-data dl big {
    font-size: 32px;
    color: #f43340;
    font-weight: bold;
}

.bid-detail .bid-data dl dd {
    color: #898989;
    font-size: 13px;
    position: relative;
	margin: 0px;
}

.bid-detail .bid-data dl dd i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/newicons.png) no-repeat -155px -63px;
}

.bid-detail .bid-data dl dd .hovBox {
    visibility: hidden;
    position: absolute;
    top: 28px;
    z-index: 10;
    background: #fff;
    border: 1px solid #eee;
    padding: 5px 15px;
    width: 220px;
    font-size: 12px;
    text-align: left;
    border-radius: 5px;
}

.bid-detail .bid-data dl .green {
    color: #3eb595;
    font-weight: bold;
}

.bid-detail .bid-data dl:last-child:before {
    width: 0px;
}

.bid-statistic-list ul {
    width: 600px;
    height: 50px;
    line-height: 50px;
    margin: 15px auto 5px;
}

.bid-statistic-list ul li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 12px;
    color: #898989;
}

.bid-statistic-list i {
    display: inline-block;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    background: url(../images/newicons.png) no-repeat -142px -231px;
}

.bid-statistic-list li big {
    vertical-align: bottom;
    color: #3eb595;
    font-size: 17px;
}

.bid-statistic-list i.persons {
    background: url(../images/newicons.png) no-repeat -179px -231px;
}

.bid-detail .bid-detail-right {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    float: right;
    padding: 10px 0;
    width: 280px;
    height: 250px;
    background: #fff;
}

.bid-detail .bid-detail-right h4 {
    font-size: 14px;
    padding: 5px 20px;
    color: #898989;
}

.bid-detail .bid-detail-right h4 a, .bid-detail .bid-detail-right h4 span {
    float: right;
    color: #3eb595;
}

.bid-detail .bid-detail-right .inputBox {
    margin: 0 20px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    background: #f5f5f5;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}

.bid-detail .bid-detail-right .inputBox input {
    width: 100%;
    height: 24px;
    border: none;
    background: transparent;
    outline: none;
}

.bid-detail .bid-detail-right .warning {
    margin: 6px 20px;
    min-height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #f43340;
}

.bid-detail .bid-detail-right .calubox {
    background: #f5f5f5;
    padding: 7px 20px;
    color: #898989;
    margin-bottom: 10px;
}

.bid-detail .bid-detail-right a.btn {
    width: 250px;
    margin: 0 auto;
}

.bid-detail .bid-detail-right .direct-login {
    padding-right: 20px;
}

.bid-detail-feature {
    width: 990px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    overflow: hidden;
}

.bid-detail-feature ul {
    width: 860px;
    margin: 0 auto;
}

.bid-detail-feature li {
    float: left;
    width: 20%;
    text-align: center;
}

.bid-detail-feature li i {
    display: inline-block;
    height: 45px;
    width: 43px;
    background: url(../images/newicons.png) no-repeat 0px -277px;
}

.bid-detail-feature li i.no1 {
    background: url(../images/newicons.png) no-repeat -42px -277px;
}

.bid-detail-feature li i.no2 {
    background: url(../images/newicons.png) no-repeat -88px -277px;
}

.bid-detail-feature i.no3 {
    background: url(../images/newicons.png) no-repeat -133px -276px;
}

.bid-detail-feature i.no4 {
    background: url(../images/newicons.png) no-repeat -176px -277px;
}

.bid-detail-feature ul li span {
    font-size: 16px;
    color: #898989;
    height: 75px;
    line-height: 75px;
}

.bid-detail-tab {
    margin-top: 15px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    padding: 0 20px;
}

.bid-detail-tab .nav-tab {
    border-bottom: 1px solid #e8e8e8;
}

ul.nav-tab li {
    padding-left: 0;
    float: left;
    padding: 0 0 5px 0;
    position: relative;
    display: block;
    font-size: 14px;
}

.bid-detail-tab .nav-tab li {
    position: relative;
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #898989;
    margin-right: 50px;
    cursor: pointer;
}

.bid-detail-tab .nav-tab li.on:before, .bid-detail-tab .nav-tab li:hover:before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 65px;
    height: 1px;
    background: #3eb595;
}

.bid-detail-tab .nav-tab:after {
    content: "";
    display: table;
    clear: both;
}

.tab-pane {
    display: none;
}

.tab-pane.in {
    display: block;
}

.bid-detail-tab .bid-detail-list {
    padding: 20px 0;
    color: #898989;
}

.bid-detail-tab dl dt {
    float: left;
    width: 100px;
}

.bid-detail-tab dt h3 {
    position: relative;
    text-indent: 20px;
    line-height: 30px;
    padding: 10px 0;
    font-size: 14px;
}

.bid-detail-tab dt h3:before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 5px;
    top: 24px;
    width: 5px;
    height: 5px;
    background: #3eb595;
    border-radius: 100%;
}

.bid-detail-tab dl dd {
    margin-left: 120px;
    line-height: 30px;
    border-bottom: 1px dashed #e8e8e8;
    padding: 10px 0;
}

.bid-detail-tab dd p {
    font-size: 12px;
}

.bid-detail-list dl i {
    margin-top: 10px;
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url("../images/newicons.png") no-repeat 0px -378px;
}

.bid-detail-list dl:hover i {
    background: url("../images/newicons.png") no-repeat 0px -327px;
}

.bid-detail-list dl i.pic1 {
    background: url("../images/newicons.png") no-repeat -52px -378px;
}

.bid-detail-list dl:hover i.pic1 {
    background: url("../images/newicons.png") no-repeat -52px -327px;
}

.bid-detail-list dl i.pic2 {
    background: url("../images/newicons.png") no-repeat -104px -378px;
}

.bid-detail-list dl:hover i.pic2 {
    background: url("../images/newicons.png") no-repeat -104px -326px;
}

.bid-detail-list dl i.pic3 {
    background: url("../images/newicons.png") no-repeat -156px -378px;
}

.bid-detail-list dl:hover i.pic3 {
    background: url("../images/newicons.png") no-repeat -156px -327px;
}

.bid-detail-list dl i.pic4 {
        background: url("../images/newicons.png") no-repeat -208px -378px;
}

.bid-detail-list dl:hover i.pic4 {
    background: url("../images/newicons.png") no-repeat -208px -327px;
}

.bid-detail-list dl i.pic5 {
    background: url("../images/newicons.png") no-repeat -260px -378px;
}

.bid-detail-list dl:hover i.pic5 {
    background: url("../images/newicons.png") no-repeat -260px -327px;
}

.bid-detail-list dl i.pic6 {
    background: url("../images/newicons.png") no-repeat -312px -378px;
}

.bid-detail-list dl:hover i.pic6 {
    background: url("../images/newicons.png") no-repeat -312px -327px;
}

.bid-detail-list dl i.pic7 {
        background: url("../images/newicons.png") no-repeat -364px -378px;
}

.bid-detail-list dl:hover i.pic7 {
    background: url("../images/newicons.png") no-repeat -364px -327px;
}

.bid-detail-list dd h5 {
    font-size: 14px;
    font-weight: bold;
}

.bid-detail-list table {
    border: 1px solid #e8e8e8;
    width: 100%;
}

.bid-detail-list table tr:nth-child(odd) {
    background: #f4f4f4;
}

.bid-detail-list table th, .bid-detail-list table td {
    text-align: center;
    line-height: 50px;
    height: 50px;
    border-right: 1px dashed #e8e8e8;
    font-size: 14px;
    font-weight: normal;
}

/* ·ÖÒ³µÄÑùÊ½ */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination li a, .pagination li span {
    border-radius: 4px;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #898989;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination li:first-child a, .pagination li:first-child span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination .active a, .pagination .active span, .pagination .active > a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #3eb595;
    border-color: #3eb595;
}

.pagination .disabled span, .pagination .disabled span:hover, .pagination .disabled span:focus, .pagination .disabled a, .pagination  .disabled a:hover, .pagination .disabled a:focus {
    color: #ccc;
    cursor: default;
    background-color: #f5f5f5;
    border-color: #ddd;
}



















